<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body class="login">
        <div id="signInButton">
            <span class="g-signin"
                data-scope="email"
                data-clientid="22046842623-oqvu23mtkl544taj819k5q6g0pvpk392.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div>
        <div id="result"></div>
        <script type="text/javascript">
        function signInCallback(authResult) {
            if (authResult['code']) {
                $('#signInButton').hide();
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{ STATE }}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success: function(result){
                        if (result) {
                            $('#result').html('Login Successfull!</br>' + result + '</br>Redirecting...');
                            setTimeout(function() {
                                window.location.href = '/restaurants';
                            }, 3000);
                        }
                    }
                });
            } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
            } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
        }
        </script>
    </body>
</html>